#root {
  --cor-primaria: #6933D5;
  --cor-secundario: #2C70D3;
  --cor-texto-primario: #1E293B;
  --cor-texto-secundario: #000000;

  --cor-background-principal: #F6F6F6;
  --cor-background-secundario: #F8F9FB;

  --cor-detalhes: #DADADA;
  --cor_sombra: #A6A6A6;

  --radius: 30px
}

.header {
    border-bottom: 2px solid var(--cor-detalhes);
}

.link {
 color: var(--cor-texto-secundario);
}

.link:hover {
 color: var(--cor-primaria);
}